@import "responsive";

body {
  margin: 0;

  background-color: lightpink;

  @include responsive("tablet") {
    background-color: blueviolet;
  }

  @include responsive("laptop") {
    background-color: blue;
  }

  @include responsive("pc") {
    background-color: red;
  }
}
